<%= form_with(model: custom_definition) do |form| %>
  <% if custom_definition.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(custom_definition.errors.count, "error") %> prohibited this custom_definition from being saved:</h2>

      <ul>
        <% custom_definition.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :site_id %>
    <%= form.number_field :site_id %>
  </div>

  <div class="field">
    <%= form.label :report_type %>
    <%= form.text_field :report_type %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
