<p id="notice"><%= notice %></p>

<h1>Custom Definitions</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Site</th>
      <th>Report type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @custom_definitions.each do |custom_definition| %>
      <tr>
        <td><%= custom_definition.name %></td>
        <td><%= custom_definition.site_id %></td>
        <td><%= custom_definition.report_type %></td>
        <td><%= link_to 'Show', custom_definition %></td>
        <td><%= link_to 'Edit', edit_custom_definition_path(custom_definition) %></td>
        <td><%= link_to 'Destroy', custom_definition, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Custom Definition', new_custom_definition_path %>
