<p id="notice"><%= notice %></p>

<h1>Custom Definition Values</h1>

<table>
  <thead>
    <tr>
      <th>Custom definition</th>
      <th>Content</th>
      <th>Report</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @custom_definition_values.each do |custom_definition_value| %>
      <tr>
        <td><%= custom_definition_value.custom_definition_id %></td>
        <td><%= custom_definition_value.content %></td>
        <td><%= custom_definition_value.report_id %></td>
        <td><%= link_to 'Show', custom_definition_value %></td>
        <td><%= link_to 'Edit', edit_custom_definition_value_path(custom_definition_value) %></td>
        <td><%= link_to 'Destroy', custom_definition_value, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Custom Definition Value', new_custom_definition_value_path %>
